/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    padding: 0 35px;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.svg {
    display: block;
}

/* ==============HEADER============= */
.header__menu_wrapper {
    background-image: url(./img/header/header-1x.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 720px;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    position: relative;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .header__menu_wrapper {
        background-image: url(./img/header/header-2x.jpg);
    }
}

.logo {
    color: black;
    letter-spacing: -4px;
}

.logo_icon {
    margin: 0;
    padding: 0;
}

.header__menu {
    display: flex;
}

.header__menu_item:nth-child(-n+3) {
    padding-right: 40px;
}

.header__menu_link {
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    color: #E9E9E9;
}

.header__menu_btn {
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #FBFBFB;
    width: 24px;
    height: 24px;
    margin-left: 20px;
}

.header__menu_btn-shop {
    padding: 13px 16px 11px;
    font-size: 14px;
    line-height: 1;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    position: absolute;
    left: calc(50% - 169px/2 + 0.5px);
    top: 647px;
}

/* ============GOODS LIST=========== */

.goods__wrapper {
    padding-top: 79px;
}

.goods-list_hdr {
    font-size: 28px;
    line-height: 1.3;
    text-align: center;
    color: #757575;
    max-width: 997px;
    margin: auto;
    text-align: center;
    padding-bottom: 45px;
}

.carousel-item {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

.goods-list__deskr {
    padding-top: 17px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #757575;
}

.gong-section {
    background-image: url(./img/gong/gong-1x.jpg);
    height: 800px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .gong-section {
        background-image: url(./img/gong/gong-2x.jpg);
    }
}

.gong-section__hdr {
    font-size: 26px;
    line-height: 0.54;
    text-align: center;
    color: #FFFFFF;
    padding-top: 56px;
}

.gong-section__dskr {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    padding-top: 21px;
}

.gong-section__btn {
    width: 105px;
    height: 36px;
    left: calc(50% - 105px/2 + 0.5px);
    top: 706px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    position: absolute;
}

/* ===========WMOOCS============= */

.WMOOCS__wrapper {
    padding-top: 49px;
}

/* .WMOOCS__list {
    display: flex;
    gap: 36px;
} */

.WMOOCS__hdr {
    font-size: 28px;
    line-height: 1.3;
    text-align: center;
    color: #757575;
    padding-top: 75px;
}

.WMOOCS__list_wrapper {
    position: relative;
    z-index: 1;
}

.WMOOCS__list_dskr {
    font-size: 14px;
    line-height: 1.5;
    color: #757575;
    max-width: 304px;
    padding: 13px 0 7px 15px;
    position: absolute;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    background-color: #FFFFFF;
    left: calc(50% - 342px/2);
    bottom: 0;
    z-index: 10;
    overflow: visible;
}


/* ============FEEDBACK========== */

.feedback {
    padding-top: 35px;
}

.feedback__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 36px 84px;
}

.feedback__list_item-img {
    width: 136px;
    height: 54px;
}

.feedback__dskr {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #848484;
    padding-top: 33px;
}

.feedback__list_item-wrapper {
    max-width: 338px;
    height: 172px;
    display: flex;
    align-items: center;
}

.SFTS {
    background-image: url(./img/sfts/1-1x.jpg);
    height: 800px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .SFTS {
        background-image: url(./img/sfts/2-2x.jpg);
    }
}

.SFTS_info {
    font-size: 14px;
    line-height: 1.5;
    color: #FFFFFF;
    text-align: center;
    padding-top: 188px;
}

.SFTS_btn {
    width: 206px;
    height: 36px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    position: absolute;
    left: calc(50% - 206px/2);
    top: 729px;
}

/* ===============WNTWT============ */

.WNTWT-hdr {
    font-size: 24px;
    line-height: 1.2;
    color: #8C8C8C;
    padding-top: 70px;
    padding-bottom: 34px;
}

.WNTWT__item_dskr {
    font-size: 14px;
    line-height: 1.5;
    color: #757575;
    padding-top: 27px;
    text-align: center;
}

/* ===============FOOTER============ */

.footer__wrapper {
    position: relative;
}

.footer_signup {
    padding-top: 177px;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: #9B9B9B;
}

.footer_signup_btn {
    width: 277px;
    height: 27px;
    border: 1px solid #9B9B9B;
    border-radius: 20px;
    background-color: transparent;
    padding: 6px 51px;
    color: #9B9B9B;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 277px/2 - 16px);
    top: 204px;

}

.footer_menu {
    display: flex;
    padding-top: 90px;
}

.footer__copyright {
    font-size: 14px;
    line-height: 1.5;
    color: #8C8C8C;
}

.footer_menu__list {
    display: flex;
    gap: 190px;
    padding-left: 190px;
    padding-bottom: 15px;
}

.footer_menu__list_item-link {
    font-size: 14px;
    line-height: 1.5;
    color: #8C8C8C;
}

.free-shipping_wrapper {
    height: 59px;
    width: 100%;
    background-color: #EDEDED;
}

.free-shipping {
    font-size: 14px;
    line-height: 1.5;
    color: #3C3C3C;
    text-align: center;
    padding-top: 14px;
}